{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Rapports{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('gsb_report_accueil') }}">Accueil</a></li>
    <li class="active">Rapports</li>
    {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rapports</h1>
        {% for flashMessage in app.session.flashbag.get('notif') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Praticien</td>
                        <td>Ville</td>
                        <td>Motif</td>
                    </tr>
                </thead>
                <tbody>
                    {% for rapport in rapports %}
                        <tr>
                            <td>{{ rapport.dateRapport | date('d/m/Y') }}</td>
                            <td>{{ rapport.medecin.prenomMedecin }} {{ rapport.medecin.nomMedecin }}</td>
                            <td>{{ rapport.medecin.villeMedecin }}</td>
                            <td>{{ rapport.motif }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}