{% extends 'GSBReportBundle::layout.html.twig' %}

{% block title %}Praticiens{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('gsb_report_accueil') }}">Accueil</a></li>
    <li class="active">Praticiens</li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Praticiens</h1>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Ville</td>
                        <td>Type</td>
                    </tr>
                </thead>
                <tbody>
                    {% for praticien in praticiens %}
                        <tr>
                            <td>{{ praticien.nomMedecin }}</td>
                            <td>{{ praticien.prenomMedecin }}</td>
                            <td>{{ praticien.villeMedecin }}</td>
                            <td>{{ praticien.typepraticien.libelleType }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}